@charset "UTF-8";
body{
    background-color: rgb(255,255,255);
}
h1{
    text-align: center;
}
div > h4{
    background-color: rgb(202, 18, 67);
    margin: 7px;
    padding: 20px;
    border-radius: 10px;
    display: flex;        
    gap: 15px;
    align-items: center;
}
